
.swiper {
    margin: 100px auto;
    width: 400px;
    height: 650px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  